h1,
h2,
h3 {
    margin: 0;
    color: var(--color-primary);
}

code {
    color: var(--color-text);
    font-family: "Victor Mono Variable", monospace;
}

p {
    margin: 0;
    color: var(--color-text);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    color: var(--color-primary-hover);
}

body {
    background-color: var(--color-bg);
    font-family: "Inter Variable", sans-serif;
}

main {
    margin-left: 3rem;
    margin-right: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

nav > div {
    display: flex;
    gap: 5rem;
    margin-right: 2rem;
}

footer > div {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

/* Iconify icons */
span {
    color: var(--color-primary);
    font-size: 5rem;
}

span:hover {
    color: var(--color-primary-hover);
}
