.card {
    background: var(--color-primary);
    border: 0.4rem solid var(--color-border);
    border-radius: 1.5rem;
    padding: 1rem;
}

.card > * {
    color: hsl(0, 0%, 0%);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero {
    font-size: 2rem;
}

.md-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 20%;
    margin-right: 20%;
}

.tags {
    display: flex;
    gap: 2rem;
}

.tags > * {
    font-weight: 1000;
    padding: 1rem;
    border-radius: 2rem;
    border-color: var(--color-border);
    background-color: var(--color-bg);
}
