@import "@fontsource-variable/inter/wght.css";

:root {
    --color-bg: hsl(161, 44%, 7%);
    --color-primary: hsl(160, 84%, 39%);
    --color-primary-hover: hsl(160, 84%, 49%);
    --color-text: hsl(149, 80%, 90%);
    --color-border: hsl(162, 39%, 22%);
    --color-surface: hsl(162, 37%, 12%);
}
